
textarea{
    resize: none;
    overflow: auto;
}
textarea:focus{
    outline:none;
    border:2px solid rgb(237, 14, 208);
    box-shadow: 0 0 4px black;
}
.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-field::-webkit-scrollbar {
  width: 12px; 
}
.input-field::-webkit-scrollbar-track {
  background: rgba(186, 80, 163, 0.2);
  
}
.input-field::-webkit-scrollbar-thumb {
  background: rgba(186, 80, 163, 0.6); 
  
}
.input-field::-webkit-scrollbar-thumb:hover {
  background: rgba(186, 80, 163, 0.8); 
  cursor: pointer;
}
.input-field::placeholder{
  color: rgba(255, 255, 255, 0.822);
}

.input-field {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 350px;
  transition: all 0.3s ease;
  background: rgba(186, 80, 163, 0.356);  
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.71);
  height: 60px;
  color: white;
  margin-bottom: 20px;
  
}
.input-field::placeholder {
  color: rgba(255, 255, 255, 0.822);
}
.input-field:focus {
  border-color: rgba(224, 207, 223, 0.8);
  
  box-shadow: 0 0 10px rgba(250, 101, 242, 0.4);
  
}
.search-field::-webkit-scrollbar {
  width: 12px; 
}
.search-field::-webkit-scrollbar-track {
  background: rgba(186, 80, 163, 0.2);
  
}
.search-field::-webkit-scrollbar-thumb {
  background: rgba(186, 80, 163, 0.6); 
  
}
.search-field::-webkit-scrollbar-thumb:hover {
  background: rgba(186, 80, 163, 0.8); 
  cursor: pointer;
}
.search-field::placeholder{
  color: rgba(255, 255, 255, 0.822);
}

.search-field {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: auto;
  transition: all 0.3s ease;
  background: rgba(186, 80, 163, 0.356);  
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.71);
  height: 20px;
  color: white;
  margin-bottom: 20px;
  
}
.search-field::placeholder {
  color: rgba(255, 255, 255, 0.822);
}
.search-field:focus {
  border-color: rgba(224, 207, 223, 0.8);
  
  box-shadow: 0 0 10px rgba(250, 101, 242, 0.4);
  
}
.error-message {
  color: #faf9f9; 
  font-size: 0.9rem;
  margin-top: 10px;
}
.button-form{
  display: flex;
  flex-direction: column;
  
}
.avatar-title{
  display: flex;
  gap: 30px;
}
button{
  background-color: rgba(246, 125, 252, 0.059);
  border-radius: 20px;
  border-color: rgba(255, 205, 246, 0.381);
  font-size: 14px;
  color:white;
  cursor: pointer;
  transition:transform .5s ease, color 3s ease-in-out;
}
button:hover{
        transform:scale(1.05);
        color:hotpink;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.block-form {
    max-height: 30vh;
    position: flex;
  width: 400px;
  background: rgba(233, 163, 248, 0.397);
  backdrop-filter: blur(10px);
  padding: 10px;
  color: white;
  height: 300px;
  z-index: 999;
  overflow-y: auto;
  display:flexbox;
  flex-direction: column;
  margin-bottom: 20px;
  align-content: center;
}
.floating-group-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(black, 0.6);
  border-radius: 20px;
  padding: 2rem;
  z-index: 9999;
  box-shadow: 0 0 20px rgb(white, 0.2);
  overflow: auto;
  max-height: 90vh;
  scrollbar-width: thin;
  scrollbar-color: #ff8ae2 transparent;
}
.block-form::-webkit-scrollbar {
  width: 12px;
}

.block-form::-webkit-scrollbar-track {
  background: rgba(186, 80, 163, 0.2);
}

.block-form::-webkit-scrollbar-thumb {
  background: rgba(186, 80, 163, 0.6);
}

.block-form::-webkit-scrollbar-thumb:hover {
  background: rgba(186, 80, 163, 0.8);
  cursor: pointer;
}

.singleU-field::placeholder{
  color: rgba(255, 255, 255, 0.822);
}

.singleU-field {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 280px;
  transition: all 0.3s ease;
  background: rgba(186, 80, 163, 0.356);  
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.71);
  height: 15px;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  
}
.singleU-field::placeholder {
  color: rgba(255, 255, 255, 0.822);
}
.singleU-field:focus {
  border-color: rgba(224, 207, 223, 0.8);
  
  box-shadow: 0 0 10px rgba(250, 101, 242, 0.4);
  
}

.createGroup-form {
    max-height: 30vh;
  width: 300px;
  background: rgba(233, 163, 248, 0.397);
  backdrop-filter: blur(10px);
  padding: 20px;
  color: white;
  height: 150px;
  z-index: 999;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.createGroup-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.invite-form {
    max-height: 30vh;
  width: 300px;
  background: rgba(233, 163, 248, 0.397);
  backdrop-filter: blur(10px);
  padding: 20px;
  color: white;
  height: auto;
  z-index: 999;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}